{% extends 'blog/auth_base.html' %}
{% load static %}

{% block content %}

<form class="signup-form" method="post">
    {% csrf_token %}

    <h3 class="fw-normal mb-3 pb-3" id="auth-heading">Sign up</h3>
    {% for field, error in form.errors.items %}
    <div class="alert alert-danger my-3 p-1" role="alert">
        <strong>Failed! </strong> {{ error|striptags }}
    </div>
    {% endfor %}

    <div class="form-outline mb-4">
        <div class="form-input">
            {% csrf_token %}
            <label>First Name*</label>
            {{form.first_name}}
            <label>Last Name* </label>
            {{form.last_name}}
            <label>Email*</label>
            {{form.email}}
            <label>Organisation*</label>
            {{form.organisation}}
            <div class="info-icon">
                <div class="hover-container">
                    <label>Password*</label>
                    <div class="hover-element">
                        &#9432;
                        <p class="hover-text">
                            Your password cannot be similar to your personal information.
                            <br>
                            Your password must contain atleast 8 charachters.
                            <br>
                            Your password can't be a commonly used password.
                            <br>
                            Your password can't be entirely numeric.
                            <br>
                        </p>
                    </div>
                </div>
            </div>

            {{form.password1}}
            <label>Password Confirmation*</label>
            {{form.password2}}
        </div>
    </div>

    <div class="pt-1 mb-4">
        <button class="btn btn-info btn-lg btn-block" type="submit">Register</button>
    </div>

    <p>Already have an account? <a href="{% url 'student_login' %}" class="link-info">Login
            here</a></p>

</form>

{% endblock %}
